.serch {
    height: auto;
   
    widows: 100%;
    background-image: url('/../assets/imges/cover.jpg');
    background-size: cover;
    background-position: center center;
   
}

.text {
    color: black;
}
.text h1{
    font-weight: 800;
}
.text h2{
    font-size: 25px;
}

.s-panal{
    height: auto;
    background-color: rgba(0,0,0,.4);
    border-radius: 5px;
}

.s-panal a {
    color: white;
   
}
.s-panal .serch-tab {
    background-color: white;
    position: relative;
    
  
}

.s-panal .serch-tab h3 {
   font-size: 15px;
}

.form-control {
    width: 100%;
    border: 0px;
}


[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]:-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]:-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  input {
    border: 0px;
    background-color: #fff;
    width: 100%;
    font-size: 9px;
  }
  .btn {
    color: black;
  }
  .btn-primary {
      background-color: white;
      border: 0px;
     

  }

  .dropdown-menu input {
      font-size: 15px; 
      border: 1px solid #999;
      margin-left: 10px;
  } 

  .dropdown-menu h6 {
    font-size: 14px; 
   
} 

.dropdown-menu span {
    font-size: 10px; 
    color: #888;
  
} 

.dropdown-menu button {
    border: 0px;
    background-color: #fff;
}

.search-bt {
    width: 100%;
    height: 100%;
    background-color: #e6e60f;
    position: relative;
    right: 0;
    top: 0;
  
}

.search-bt .fas {
    color: #fff;
}

  
  
.result {
    background-color: #f2f6fb;
    height: auto;
    overflow: hidden;
}

.has-search .form-control {
   font-size: 15px;
}


.night-nu {
    font-size: 15px;
}
.search .btn-primary {
 background-color: transparent;
 border:0px;
 color: #555;
 padding-left: 10px;
}


.search .btn-primary .fas {
    float:right;
} 

.search .card {
    background-color: transparent;
    border: 0px;
}
.search .card h2 {
    float: left;
    font-size: 15px;
}
.search .card h2 span {
    float: right;
}
.drop-down {
    border-bottom: 1px solid #cfcaca;
}
.drop-down a {

    font-size: 18px;
    
}
.imges img {
    border-radius: 5px;
    margin: 1px;
    padding: 0px;
}
.imges .col-4 {
    padding: 0 1px;
}
.sr-result {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
}
 
.data {
    border-bottom: 2px solid #ecf4fe;
}

.data h2 {
    font-size: 25px;
}
.data h3 {
    color: yellow;
    font-size: 20px;
    margin-bottom: 20px;
}

.data h4 {
    color: #777;
    font-size: 18px;
}

.icon .fas {
    padding-right:  10px;
    color: #777;
    font-size: 25px;
}

.price {
    border-left: 2px solid #ecf4fe;
}
.price h2 {
    font-size: 20px;
    color: #555;
}
.price span {
    background-color: #42cb42;
    border-radius: 5px 0 ;
    padding: 5px;
    margin-right: 10px;
}

.price h3 {
    font-size: 15px;
    color: #555;
    margin-top: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .price h2 {
        font-size: 10px;
        
    }
   .price h3 {
        font-size: 8px;
        
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .price h2 {
        font-size: 10px;
        
    }
   .price h3 {
        font-size: 8px;
        
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .price h2 {
        font-size: 10px;
        
    }
   .price h3 {
        font-size: 8px;
        
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 

.price h2 {
    font-size: 15px;
    
}

.price h3 {
    font-size: 10px;
    
}} 

